<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<title>
			MEET SYNC</title>
			<style type="text/css">
				#main-header
				{
					text-align: center;
					background-color: black;
					color: white;
					padding: 20px;
				}

			</style>
			<style type="text/css">
				#second-header
				{
					text-align: center;
					background-color: black;
					color: white;
					padding: 20px;
				}
			</style>
				<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="home.css">
			<script src="jQuery.js"></script>
			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		
	</head>

    
   
    </body>
</html>