<%- include('partials/header') %>
<link rel="stylesheet" href="/about.css">
 <a href="/homepage" class="ui red button">
      HOME
    </a>  
<h1>ABOUT...!</h1>
<p>This is a experimental webpage done BY<br>
    <strong id="n1">SARVEPALLI MOHITH</strong> and
    <strong id ="n2">RAVURU SAI SNEHITHA</strong><br>
    Each of us are being graduated from different colleges....<br>
   <strong>SARVEPALLI MOHITH -----------Vellore Institute of Technology.<br>
    RAVURU SAI SNEHITHA----------Panimalar Engineering College</strong>.<br>
   
    This page is all about learning on how the webpage is created using Html,javascript,jQuery,CSS, Semantic UI,nodejs
    and mongo db<br>
    It may contain many errors and bugs ;but our main motto is to learn something new!!.
    The code contains many of font generators and etc.,<br>
    We are trying to make a chat box and group messenger in which people can share their ideas 
    and we will be creating some posts and etc.,<br>
    We are trained from watching edureka videos from <a href="www.youtube.com">YOUTUBE</a>
    and from Colt Steele from udemy</p><br>