<%- include('partials/header') %>
	<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
  	<div id="logo">
  	<div class="header item"><i class="hotjar icon"></i><a href="/">MS WEB</a></div></div>
    <a href="/"class=" item">
      Home
    </a>
    <a href="/about" class="item">
    	About
    </a>
    <div class="right menu">
    <a href="/login "class="item">
      Login
    </a>
   
   
    <a href="/signup" class="item">
      <div class="ui primary button">Signup</div>
    </a>

     </div>
  </div>
  </div>

<link rel="stylesheet" href="/home.css">

<header id="main-header">
		<h1 >MEET&SYNC</h1></header>
		<p id=para >this is just a Start dont bother about anything...
			We are gng to  do some kind of web page work like signup,login and etc.,...We also have some oppurtunities to do some kinda stuff on webpage developing.. We are gng to do some things on our own... and if u want to discourage or humiliate on what we are dng...We are not gng to bother about anything.........<strong>JUST FUCK OFF</strong>
			.In this u can communicate and share something u want...</p>
		
		<div id="sb">
		  <a href="/signup">
		<button >LET'S GET STARTED!!! <i class="arrow right icon"></i></button>
		</a></div>
		
