	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui secondary  menu">
  
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
     <a class="item">
    Chats
    <i class="paper plane icon"></i>
  </a>
    <a href="/logout" class="ui item">
      Logout
    </a>
  
  </div>
</div>
<hr>
  
   <div id="butt"> 
    <a href="/blogs" class="ui blue button">
      POSTS
    </a>
    <a href="/about" class="ui red button">
      ABOUT
    </a>    
      
    </div>